<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.mapper.ScheduledMapper">
    <delete id="remove">
        DELETE FROM t_scheduled
        WHERE post_assignment_id = #{postAssignmentId} AND user_id = #{userId}
    </delete>
    <select id="getUserInThisActivitySchedules" resultType="com.jx.domain.entity.Scheduled">
        SELECT s.*
        FROM t_scheduled s LEFT JOIN t_post_assignment pa ON pa.id = s.`post_assignment_id`
                           LEFT JOIN t_activity_assignment aa  ON aa.id = pa.`activity_assignment_id`
                           LEFT JOIN t_activity a ON a.id = aa.`activity_id`
        WHERE a.id = #{activityId} AND s.`user_id` = #{userId}
        ORDER BY s.`create_time` DESC
    </select>
</mapper>