<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.mapper.SignInUserMapper">
    <update id="updateByMppId">
        UPDATE t_signin_user su
        SET  su.`sign_in_time` = #{signInTime},
            su.`mid_time` = #{midTime} , su.`sign_out_time` = #{signOutTime} , su.`sign_in_count` = #{signInCount}
        Where su.`assignment_id` = #{assignmentId} AND  su.`user_id` = #{userId}
    </update>
    <delete id="removeByAssignmentId">
        DELETE FROM t_signin_user
        WHERE assignment_id = #{activityAssignmentId}
    </delete>
    <select id="listSignIns" resultType="com.jx.domain.vo.ListSignInUserVo">
        SELECT aa.`time`,a.`name` AS activityName,l.`name` AS locationName,ts.`begin_time` AS timeSlotBegin,ts.`end_time` AS timeSlotEnd,
               u.name AS userName,su.`sign_in_time` AS signInTime,su.`mid_time` AS midTime, su.`sign_out_time` AS signOutTime
        FROM t_signin_user su LEFT JOIN t_activity_assignment aa ON aa.`id` = su.`assignment_id`
            LEFT JOIN t_activity a ON a.id = aa.`activity_id`
            LEFT JOIN t_location l ON l.id = aa.`location_id`
            LEFT JOIN t_time_slot ts ON ts.id = aa.`time_slot_id`
            LEFT JOIN t_user u ON u.id = su.`user_id`
        WHERE
             a.`del_flag` = 0         AND ts.`del_flag` = 0          AND aa.`del_flag` = 0
            <if test='flag!="" and flag!=null'>
            AND   su.`sign_in_count` = (
                    SELECT COUNT(*)
                    FROM t_sign_in si
                    WHERE si.`assignment_id` = su.`assignment_id`
                )
            </if>
          <if test='activityName!="" and activityName!=null'>
              AND a.name LIKE concat('%',#{activityName},'%')
          </if>
          <if test="locationId!=null">
            AND aa.location_id = #{locationId}
          </if>
          <if test="timeSlotId!=null">
              AND aa.`time_slot_id` = #{timeSlotId}
          </if>

        ORDER BY aa.time DESC, a.id DESC,aa.id DESC,su.sign_in_time DESC,su.mid_time DESC,su.sign_out_time DESC
    </select>
    <select id="selectByMppId" resultType="com.jx.domain.entity.SignInUser">
        SELECT *
        FROM t_signin_user su
        WHERE su.`assignment_id` = #{assignmentId} AND su.`user_id` = #{userId}
    </select>
    <select id="exportSignInUser" resultType="com.jx.domain.vo.SignInUserExportVo">
        SELECT a.`name` AS activityName,u.id AS userId,u.name AS userName,c.name AS collegeName,
            CASE
                WHEN u.`department_id` = 9 THEN 0
                ELSE 1
            END AS isRedCrossMember,
            u.qq,u.phone_number AS phoneNumber,u.email,u.need AS userNeed,su.sign_in_time AS signInTime,su.mid_time AS midTime,su.sign_out_time AS signOutTime
        FROM t_signin_user su LEFT JOIN t_activity_assignment aa ON aa.`id` = su.`assignment_id` LEFT JOIN t_activity a ON a.id = aa.`activity_id`
        LEFT JOIN t_location l ON l.id = aa.`location_id` LEFT JOIN t_time_slot ts ON ts.id = aa.`time_slot_id` LEFT JOIN t_user u ON u.id = su.`user_id` LEFT JOIN t_college c ON c.id = u.`college_id`
        WHERE
        a.`del_flag` = 0          AND ts.`del_flag` = 0          AND aa.`del_flag` = 0
        <if test='flag!="" and flag!=null'>
            AND   su.`sign_in_count` = (
            SELECT COUNT(*)
            FROM t_sign_in si
            WHERE si.`assignment_id` = su.`assignment_id`
            )
        </if>
        <if test='activityName!="" and activityName!=null'>
            AND a.name LIKE concat('%',#{activityName},'%')
        </if>
        <if test="locationId!=null">
            AND aa.location_id = #{locationId}
        </if>
        <if test="timeSlotId!=null">
            AND aa.`time_slot_id` = #{timeSlotId}
        </if>

        ORDER BY aa.time DESC, a.id DESC,aa.id DESC,su.sign_in_time DESC,su.mid_time DESC,su.sign_out_time DESC
    </select>
</mapper>