<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.mapper.UserMapper">
    <select id="getUserByInfo" resultType="com.jx.domain.entity.User">
        SELECT u.*
        FROM t_user u LEFT JOIN t_college c ON c.`id` = u.`college_id`
        WHERE u.id = #{id} AND u.name = #{name}
    </select>
    <select id="getUserInfo" resultType="com.jx.domain.vo.UserInfoVo">
        SELECT u.id,u.name,u.`avatar`,u.`phone_number`,u.`qq`,u.`sex`,d.`name` AS department,c.`name` AS college,u.email,t.`role_name` AS role
        FROM t_user u LEFT JOIN t_department d ON d.`id` = u.department_id LEFT JOIN t_college c ON  u.`college_id` = c.`id` LEFT JOIN sys_role t ON t.`id` = u.`role_id`
        WHERE u.id = #{id}    AND d.`del_flag` = 0         AND t.`del_flag` = 0
    </select>
    <select id="getLeaderInfo" resultType="com.jx.domain.vo.UserInfoVo">
        SELECT u.name, u.`phone_number` ,u.qq
        FROM t_scheduled s LEFT JOIN t_user u ON u.`id` = s.`user_id`
        WHERE s.post_assignment_id = (
            SELECT pa.id
            FROM t_post_assignment pa LEFT JOIN t_post p ON p.`id` = pa.`post_id`
            WHERE pa.`activity_assignment_id` = (
                SELECT aa.id
                FROM t_post_assignment pa LEFT JOIN t_activity_assignment aa ON pa.`activity_assignment_id` = aa.`id`
                WHERE pa.`id` = #{postAssignmentId}         AND aa.`del_flag` = 0
            )
              AND p.name = "负责人"         AND p.`del_flag` = 0
        )
    </select>
    <select id="getVolunteerInfo" resultType="com.jx.domain.bo.VolunteerInfoBo">
        SELECT u.name,u.`phone_number`,u.`qq`,u.`id`
        FROM t_scheduled s LEFT JOIN t_user u ON s.`user_id` = u.`id`
        WHERE s.`post_assignment_id` = #{postAssignmentId}
    </select>
</mapper>